$app-headbar-size: 3em;
$app-sidebar-size: 15em;
$app-content-padding: 1em;
$app-spinner-z-index: 999;

@import url(https://unpkg.com/spectre.css/dist/spectre.min.css);
@import url(https://unpkg.com/spectre.css/dist/spectre-icons.min.css);

html,
body {
  height: 100%;
}

#app-root {
  height: 100%;
  padding: $app-headbar-size 0 0 $app-sidebar-size;
}

#app-headbar {
  align-items: center;
  background-color: #5755d9;
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  height: $app-headbar-size;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#app-logo {
  height: 44px;
  margin: 3px;
  width: 44px;
}

#app-name {
  margin-left: 0.25em;
}

#app-version {
  font-size: medium;
  font-style: italic;
}

#app-sidebar {
  background-color: rgba(0, 0, 0, 0.05);
  bottom: 0;
  left: 0;
  position: fixed;
  top: $app-headbar-size;
  width: $app-sidebar-size;
  z-index: 1;

  & .nav-item,
  & .nav-item > a {
    box-shadow: none;
    display: inline-block;
    width: 100%;
  }
  & .nav-item > a:hover,
  & .nav-item > a:focus {
    background: rgba(0, 0, 0, 0.033);
  }
  & .nav-item > a.active {
    background: rgba(0, 0, 0, 0.066);
  }
}

#app-content {
  height: auto;
  margin: 0;
  min-height: 100%;
  overflow: auto;
  padding: 1em;
  width: 100%;
}

#app-spinner {
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $app-spinner-z-index;
}
