<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="assets/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" href="assets/logo192.png" />
    <link rel="manifest" href="assets/manifest.json" />
    <title><%= htmlWebpackPlugin.options.config.appName %></title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="app-root"></div>
  </body>
</html>
